@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;500&family=Lato:wght@300;400;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #fafcff;
    letter-spacing: 0.152em;
}

/* ------- NAV BAR -------*/

header {
    margin-top: 0;
    padding: 20px 40px;
    background-color: #1c1c41;
    display: flex;
    justify-content: space-between;
}

header p {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.25em;
    color: #fafcff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 15em;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #b4c0d3;
}

nav ul li a:hover {
    color: #fafcff;
    transition-duration: 0.2s;
}

nav ul li a:active {
    color: #e13ee5;
}

/* ------- HERO -------*/

#hero {
    padding: 200px 50px;
    padding-top: 120px;
    background-color: #1c1c41;
}

#hero p {
    list-style: none;
    line-height: 1.7em;
    padding-bottom: 40px;
}

#hero h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 3em;
    background-image: linear-gradient(40deg, #e13ee5, #0798f9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing:0.4em;
}

/* ------- EXPERIENCE -------*/

#exp {
    border-left: 6px solid #1c8ce0;
    background-color: #eef3ff;
    padding: 50px 34px;
    padding-top: 30px;
}

#exp h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.8em;
    background-image: linear-gradient(230deg, #e13ee5, #0798f9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#exp-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.exp-card {
    background-image: linear-gradient(70deg, #e13ee5, #0798f9);
    width: 270px;
    height: 320px;
    padding: 18px 13px;
    margin: 0 10px;
    margin-bottom: 25px;
    opacity: 0.8;
    border-radius: 18px;
    border: 2px solid #1c8ce0;
    flex-grow: 1;
    box-shadow: #b4c0d3 6px 6px;
    transition-duration: 0.4s;
}

.exp-card a {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.3s;
}

.exp-card a:hover {
    color: #cbcfd5;
    transition-duration: 0.3s;
}

.exp-card:nth-child(2) {
    background-image: linear-gradient(230deg, #e13ee5, #0798f9);
}

.exp-card:hover {
    box-shadow: #b4c0d3 10px 10px;
    transition-duration: 0.4s;
}

.exp-card h4 {
    font-size: 1.2em;
    margin-bottom: 4px;
}

.exp-card h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.exp-card p {
    line-height: 2em;
}

/* ---------- EDUCATION ---------- */


#education  {
    position: relative;
    color: #1c1c41;
    padding-left: 40px;
    padding-bottom: 40px;
    border-top: 6px solid #1c8ce0;
    border-right: 6px solid #1c8ce0;
}

#education h2 {
    font-size: 2em;
}

#education h4 {
    font-size: 1.2em;
}

#education h4::before {
    content: "";
    top: -150px;
    left: -150px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    background-color: #e23ee54d;
    position: absolute;
}

#education h4::after {
    content: "";
    top: 200px;
    left: 55vw;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    background-color: #1c8be07b;
    position: absolute;
}

#courses {
    display: flex;
    justify-content: space-around;
    align-items: baseline;  
}

#courses ul {
    line-height: 3em;
    margin-left: -40px;
}

/* ---------- PROJECTS ---------- */

#projects {
    color: #1c1c41;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    overflow: hidden;
}

.project {
    margin-top: 40px;
    margin-bottom: 60px;
}

#projects h4 {
    color: #e13ee5;
    margin-bottom: 0px;
}

#projects h3 {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: -5px;
}

#projects .project .right {
    display: flex;
    justify-content: center;
    height: 400px;
}

#ipa {
    height: unset;
    width: 90vw;
    height: 30vh;
}

#maze {
    height: 300px;
}

/* ---------- FOOTER ---------- */

footer {
    height: 250px;
    background-color: #1c1c41;
    display: flex;
    justify-content: space-between;
}

#footer-left {
    max-width: 40vw;
    margin: 20px 40px;
}

#footer-left p {
    font-weight: lighter;
}

#footer-right {
    margin: 20px 10vw;
}

#icons img {
    width: 32px;
    margin: 0 10px;
    margin-left: 0px;

}

#icons a {
    transition-duration: 0.4s;
}

#icons a:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
}

#footer-left h3 {
    display: inline-block;
    background-image: linear-gradient(110deg, #e13ee5, #0798f9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media only screen and (min-width: 1024px) {

    header nav ul {
        width: 400px;
    }

    #hero div p {
        font-size: 2em;
    }

    #hero div h1 {
        font-size: 4em;
    }

    .exp-card a p {
        line-height: 3.3em;
    }

    #projects {
        overflow: hidden;
    }

    #projects .project {
        text-align: left;
        display: flex;
        justify-content: space-around;
    }

    #projects .project .left {
        max-width: 40vw;
        flex-grow: 1;
    }

    #projects .project .right {
        flex-grow: 2;
    }

    #projects .project p {
        line-height: 2.4em;
    }

    #projects .project .right img {
        height: 400px;
    }

    #projects .project .right #ipa {
        margin-right: -483px;
        height: 400px;
        width: auto;
    }

    #maze {
        margin-right: -269px;
    }

    #footer-left, #footer-right {
        margin-top: 40px;
    }

    footer {
        height: 200px;
    }

}